.invoice-table-container {
  width: 80%;

  .invoice-table {
    width: 100%;
    border-collapse: collapse;

    .invoice-table-head th {
      text-align: left;
      padding: 12px;
      border-bottom: 2px solid var(--purple-200);
    }
  }

  .invoice-item {
    background-color: #f4f4f4;
    border-bottom: 1px solid var(--purple-200);

    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: var(--purple-100);
    }

    td {
      padding: 10px 12px;
    }
  }
}
