.navbar {
  position: absolute;
  width: 100vw;
  top: 0;
  z-index: 1000;
  background-color: #f4f4f4;
  height: 60px;
  padding-left: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
}
